@import '../../styles/variables.scss';

#skills {
  align-items: center;

  section {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    table {
      display: inline-flex;
      width:18rem;
      min-width: 18rem;

    tr {
        display: flex;
        justify-content: space-between;

        padding: 0.5rem;
      }
    }
  }

  // -- RESPONSIVITY
  @media (min-width: 821px) {
    align-items: stretch;

    section {
      flex-direction: row;
      justify-content: space-around;

      table {
        width: 25vw;
      }
    }
  }
}
