@import '../../styles/variables.scss';

#card {
  @include display(column, 1.25rem, 2.5rem);

  div {
    @include display(column, 0.5rem, 0.5rem);

    a {
      align-self: stretch;
      margin-top: 1rem;
    }
  }
  img {
    border: 1px solid $azulzim;
    border-radius: 1rem;
  }

  // -- RESPONSIVITY
  @media (min-width: 821px) {
    &.card{
      flex-direction: row;
    }
    &.reverso {
      flex-direction: row-reverse;
      gap: 0 2.5rem;
    };
    img {
      width: 45vw;
    };
  }
}



